.headerContainer {
  background: url("../../assets/images/navbarCover.jpg") no-repeat center center;
  background-size: 100% 100%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.action {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.3s;
  > span {
    color: #f00;
    vertical-align: middle;
  }
  &:hover {
    background: #f00;
  }
  &:global(.opened) {
    background: #0f0;
  }
}
.search {
  padding: 0 12px;
  &:hover {
    background: transparent;
  }
}

.date {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.userName {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
}
.userName:hover {
  cursor: pointer;
}
